datasets==3.6.0
elasticsearch==7.17.5
fastembed==0.7.0
ir_datasets==0.5.10
langchain==0.3.25
loguru==0.7.2
numpy==1.26.4
pillow==10.3.0
PyYAML==6.0.1
qdrant-client==1.14.1
requests==2.32.4
scikit-image==0.21.0
Scrapy==2.13.2
sentence-transformers==4.1.0
SQLAlchemy==2.0.32
tantivy==0.24.0
tqdm==4.67.1
